@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Agent Number<input type="text" id="agentInput" />
            <input type="button" id="okButton" value="ConfirmAgentNumber"/>
        </div>
    </div>
</div>
<script src="~/js/login.js"></script>